<template>
	<div class="container">
		<table>
			<thead>
				<th></th>
				<th>Unselected</th>
				<th>Selected</th>
				<th>Intermediate</th>
			</thead>
			<tbody>
				<tr>
					<td>Default</td>
					<td>
						<vmq-checkbox v-model="checkbox1" label="Label"/>
					</td>
					<td>
						<vmq-checkbox v-model="checkbox2" label="Label"/>
					</td>
					<td>
						<vmq-checkbox v-model="checkbox3" :indeterminate.sync="indeterminate3" label="Label"/>
					</td>
				</tr>
				<tr>
					<td>Focus</td>
					<td>
						<vmq-checkbox v-model="checkbox4" label="Label"/>
					</td>
					<td>
						<vmq-checkbox v-model="checkbox5" :value="true" label="Label"/>
					</td>
					<td>
						<vmq-checkbox v-model="checkbox6" :indeterminate.sync="indeterminate6" label="Label"/>
					</td>
				</tr>
				<tr>
					<td>Disabled</td>
					<td>
						<vmq-checkbox v-model="checkbox7" disabled label="Label"/>
					</td>
					<td>
						<vmq-checkbox v-model="checkbox8" disabled :value="true" label="Label"/>
					</td>
					<td>
						<vmq-checkbox v-model="checkbox9" disabled :indeterminate.sync="indeterminate9" label="Label"/>
					</td>
				</tr>
				<tr>
					<td>Multiple Checkboxes</td>
					<td>
						<div style="text-align: left;width: 230px;margin: auto;display: flex;">
							<vmq-checkbox v-model="checkboxGroupSimple" label="Banana" vmq-value="banana" style="margin-right: 5px;"/>
							<vmq-checkbox v-model="checkboxGroupSimple" label="Orange" vmq-value="orange" style="margin-right: 5px;"/>
							<vmq-checkbox v-model="checkboxGroupSimple" label="Apple" vmq-value="apple" style="margin-right: 5px;"/>
						</div>
					</td>
					<td>

					</td>
					<td>

					</td>
				</tr>
				<tr>
					<td>Indeterminate Checkboxes</td>
					<td>
						<div style="text-align: left;width: 230px;margin: 30px auto;">
							<vmq-checkbox v-model="checkboxAll" :indeterminate.sync="checkboxIndeterminate" label="Check All" @change="handleChangeGroupHead"/><hr/>
							<vmq-checkbox v-model="checkboxGroup" label="Banana" vmq-value="banana" @change="handleChangeGroupValue"/>&nbsp;
							<vmq-checkbox v-model="checkboxGroup" label="Orange" vmq-value="orange" @change="handleChangeGroupValue"/>&nbsp;
							<vmq-checkbox v-model="checkboxGroup" label="Apple" vmq-value="apple" @change="handleChangeGroupValue"/>&nbsp;
							<br/>
						</div>
					</td>
					<td>

					</td>
					<td>

					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import VmqCheckbox from "../Checkbox.vue";

export default {
	components: {
		VmqCheckbox
	},

	data() {
		return {
			checkbox1: false,
			checkbox2: true,
			checkbox3: true,
			checkbox4: false,
			checkbox5: true,
			checkbox6: true,
			checkbox7: false,
			checkbox8: true,
			checkbox9: true,

			indeterminate3: true,
			indeterminate6: true,
			indeterminate9: true,

			checkboxGroupSimple: ["banana", "orange"],

			checkboxAll: false,
			checkboxIndeterminate: false,
			checkboxGroup: ["banana", "orange"]
		};
	},

	methods: {
		handleChangeGroupHead(value) {
			if (value) {
				this.checkboxGroup = ["banana", "orange", "apple"];
			} else {
				this.checkboxGroup = [];
			}
		},
		handleChangeGroupValue() {
			if (this.checkboxGroup.length === 3) {
				this.checkboxAll = true;
				this.checkboxIndeterminate = false;
			} else if (this.checkboxGroup.length === 0) {
				this.checkboxAll = false;
				this.checkboxIndeterminate = false;
			} else {
				this.checkboxIndeterminate = true;
			}
		}
	}
};
</script>

<style lang="scss" scoped>
.container {
	font-family: 'Kanit', sans-serif;
	font-weight: 200;

	table {
		width: 100%;

		th, td {
			text-align: center;
		}

		td {
			&:first-of-type {
				text-align: right;
			}
		}
	}
}
</style>