<template>
	<div :class="['vmq-container-checkbox', ...wrapperClass]" ref="container" v-click-outside="onClickOutside" @click="handleCheck">
		<span class="vmq-container-checkbox-icon">
			<font-awesome-icon :icon="fontClass"/>
			<span class="vmq-container-checkbox-icon-shadow"></span>
		</span>
		<span v-if="label" class="vmq-container-checkbox-label">{{ label }}</span>
		<span class="vmq-container-checkbox-backdrop"></span>
	</div>
</template>

<script>
import vClickOutside from "v-click-outside";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faCheckSquare, faMinusSquare } from "@fortawesome/free-solid-svg-icons";
import { faSquare } from "@fortawesome/free-regular-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faCheckSquare, faMinusSquare, faSquare);

export default {
	name: "Checkbox",

	directives: {
		clickOutside: vClickOutside.directive
	},

	components: {
		FontAwesomeIcon
	},

	props: {
		value: {
			type: [Boolean, Array, String],
			default: false
		},
		vmqValue: {
			default: undefined
		},
		containerClass: {
			type: String,
			default: ""
		},
		disabled: {
			type: Boolean,
			default: false
		},
		label: {
			type: String,
			default: null
		},
		indeterminate: {
			default: undefined
		}
	},

	data() {
		return {
			inputIndeterminate: false,
			checked: false,
			focused: false
		};
	},

	computed: {
		wrapperClass() {
			return [
				{ "vmq-checked": this.checked },
				{ "vmq-disabled": this.disabled },
				{ "vmq-indeterminate": this.inputIndeterminate },
				{ "vmq-focused": this.focused },
				this.containerClass
			];
		},

		fontClass() {
			if (this.inputIndeterminate) {
				return ["fas", "minus-square"];
			} else if (this.checked) {
				return ["fas", "check-square"];
			}

			return ["far", "square"];
		},

		isGroup() {
			return Array.isArray(this.value);
		}
	},

	watch: {
		value() {
			if (this.vmqValue !== undefined || this.isGroup) {
				if (Array.isArray(this.value)) {
					this.checked = this.value.includes(this.vmqValue);
				}
			} else {
				this.checked = this.value;
			}
		},

		indeterminate() {
			this.inputIndeterminate = this.indeterminate;
			this.$emit("update:indeterminate", this.indeterminate);
		}
	},

	created() {
		this.inputIndeterminate = this.indeterminate;

		if (this.isGroup && this.value.includes(this.vmqValue)) {
			this.handleCheck();
		} else if (!this.isGroup) {
			this.checked = !!this.value;
		}
	},

	mounted() {
		window.addEventListener("keypress", this.handleKeypress);
	},

	methods: {
		handleCheck() {
			if (!this.disabled) {
				this.focused = true;

				if (this.inputIndeterminate) {
					this.inputIndeterminate = false;
					this.$emit("update:indeterminate", false);
					this.$emit("input", true);
					this.$emit("change", true);
				} else if (this.isGroup) {
					this.checked = !this.checked;

					const filterThisValueOut = (value) => value !== this.vmqValue;

					let values = [];

					if (this.checked) {
						values = [...this.value.filter(filterThisValueOut), this.vmqValue];
					} else {
						values = this.value.filter(filterThisValueOut);
					}

					this.$emit("input", values);
					this.$emit("change", values);
				} else {
					this.checked = !this.checked;
					this.$emit("input", this.checked);
					this.$emit("change", this.checked);
				}
			}
		},

		handleKeypress(e) {
			if (!this.focused || this.disabled) {
				return;
			}

			const KEY = {
				Space: false
			};

			KEY[e.code] = true;

			if (KEY.Space) {
				this.handleCheck();
			}
		},

		onClickOutside() {
			this.focused = false;
		}
	},

	destroyed() {
		window.removeEventListener("keypress", this.handleKeypress);
	}
};
</script>

<style lang="scss" scoped>
$color-silver: #bfbfbf;
$color-alto: #d6d6d6;
$color-scooter: #29b7c1;
$color-scooter-light: #c9edef;
$base-transition-timing: 200ms;
$color-black: #000;

.vmq-container {
	&-checkbox {
		position: relative;
		cursor: pointer;
		outline: none;

		&-icon {
			position: relative;
			width: 18px;
			height: 18px;
			display: inline-flex;

			svg {
				width: calc(100% + 1px);
				height: calc(100% + 1px);
				transform: translate(-0.5px, -0.5px);
				color: $color-silver;
				transition: color 200ms;
			}

			&-shadow {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-shadow: inset 0 0 0 1px var(--vmq-checkbox-color, $color-scooter), 0 0 0 2px var(--vmq-checkbox-color, $color-scooter);
				box-sizing: border-box;
				opacity: 0.2;
				border-radius: 2px;
				visibility: hidden;
			}
		}

		&:focus &-icon,
		&.vmq-focused &-icon {
			&-shadow {
				visibility: visible;
			}
		}

		&.vmq-checked,
		&.vmq-indeterminate {
			svg {
				color: $color-scooter;
				color: var(--vmq-checkbox-color, $color-scooter);
			}
		}

		&.vmq-disabled {
			cursor: not-allowed;
		}

		&.vmq-disabled,
		&.vmq-disabled.vmq-indeterminate {
			svg {
				opacity: 0.08;
				color: $color-black;
			}
		}

		&.vmq-disabled > &-label {
			opacity: 0.15;
		}

		&-label {
			position: relative;
			top: -5px;
			margin-left: 8px;
			font-size: 14px;
			color: $color-black;
			color: var(--vmq-checkbox-label-color, $color-black);
		}

		&-backdrop {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}
</style>